body{
  margin:0;
  background:#06131a;
  color:white;
  font-family:Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.pantalla{
  text-align:center;
}

h1{
  font-size:60px;
  color:#00ffd5;
  text-shadow:0 0 20px #00ffd5;
}

button{
  padding:15px 30px;
  border:none;
  border-radius:10px;
  background:#00ffd5;
  color:black;
  font-size:20px;
  cursor:pointer;
}
